<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <!--<link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />-->
  </head>
  <body>
    <div class="container">
      <!--<img src="/images/penweather.jpg" alt="Penrod Weather">-->
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if(locals.weather !== null){ %>
            <p><%= locals.weather %></p>
          <% } %>
          <% if(locals.error !== null){ %>
            <p><%= locals.error %></p>
          <% } %>
      </fieldset>
    </div>
  </body>
</html>